ul{
  list-style: none;
}
.App {
  text-align: center;
}
#btn-container{
  display: flex;
  justify-content: space-evenly;
}
.li{
  margin-bottom: 10px;
}
#post-footer{
  display: flex;
  justify-content:space-between;
  font-size: xx-small;
  opacity: 0.5;
}
#nav-ul{
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: -webkit-fill-available;
}
.mx-width{
  max-width: 25rem;
}
#post-li{
  text-align: center;
}
#Textarea{
  width: 150px;
}
#Select1{
  width: 150px;
}
.move{
  /* position: relative;
  left: 30%; */
}
.move2{
  position: relative;
  left: -120px;
}
#form-ui{
  position: relative;
  left: 30%;
}
#site-name{
  margin-bottom: 10px;
}
.left{
  position: absolute;
  left: 0;
}
#form-btn{
  width: 150px;
}
#form-progress{
  width: 10%;
}
.progress{
  max-width: 150px;
}
#post-ul{
  position: relative;
  left: 20%;
}